@use 'var';

.main {
  display: flex;
  justify-content: space-between;

  &__feed {
    width: 74%;

    &__item {
      margin: 20 0;
      background-color: white;
      border: solid 2px #000;

      &__title {
        margin: 10 10;
      }

      &__main {
        margin: 10 10;
      }
    }
  }

  &__sidebar {
    display: flex;
    width: 25%;

    &__menu {
      margin: 20 0;
      background-color: white;
      border: solid 2px #000;
      width: 100%;

      &__item {
        
      }
    }
  }
}