@use 'var';

.main {
  display: flex;
  justify-content: space-between;

  &__feed {
    width: 74.5%;
    &__item {
      background-color: white;
      border: solid 2px #000;
      margin-bottom: 5px;

      &__title {
        margin: 10 10;
      }

      &__main {
        margin: 10 10;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    &__feed {
      width: 72.5%;
      margin-left: 1%;
    }
  }
}