@use 'var';

.main {
  display: flex;
  justify-content: space-between;

  &__feed {
    width: 74.5%;

    &__item {
      display: flex;
      background-color: var.$feed;
      border: solid 2px var.$border;
      margin-bottom: 5px;
      &__image {
        padding: 10;
        figure {
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          border: 2px dotted var.$border;
        }
      }
      &__title {
        margin: 10 10;
      }

      &__main {
        margin: 10 10;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main {
    &__feed {
      width: 72.5%;
      margin-left: 1%;
    }
  }
}