@use 'var';

.header {
  margin-top: 20px;
  display: flex;
  background-color: var.$header;
  margin-bottom: 30px;
figure {
  width: 155px;
  height: 165px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var.$border;
}
img {
  height: 100%;
}
  &__info {
    width: 100%;
    border: 2px solid var.$border;

    &__item {
      display: flex;
      justify-content: space-between;
      margin: 2 30;

      a {
        text-decoration: none;
        color: var.$link;
      }
      p {
        margin-top: 15px;
      }
    }
  }
}

.headerm {
  display: none;
}

/* Estilos para celulares (até 600px) */
@media only screen and (max-width: 600px) {
  .header {
    display: none;
  }

  .headerm {
    display: flex;
    background-color: var.$header;
    border: solid 3px var.$border;
    border-radius: 10px;
    margin: 5;
    margin-bottom: 15px;

    figure {
      margin: 5px;
      width: 180px;
      height: 100px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var.$border;
      border-radius: 100px;
    }
    img {
      height: 100%;
    }

      &__info {
        &__item {
          text-align: center;
          p {
            margin-top: 15px;
          }
        }
      }
  }
}