@use 'var';

.header {
  display: flex;
  background-color: white;
figure {
  border: 2px solid #000;
}
img {
  height: 100%;
}
  &__info {
    width: 100%;
    border: 2px solid #000;

    &__item {
      display: flex;
      justify-content: space-between;
      margin: 2 30;

      a {
        text-decoration: none;
        color: #000;
      }
      p {
        margin-top: 15px;
      }
    }
  }
}