// Paleta de Cores
$color1: #000;

// Formats
.title {
  font-size: 30px;
}

.title--small {
  font-size: 18px;
}

.title--texto {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains", cursive;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

// Fonts
@font-face {
  font-family: JetBrains;
  src: url('../../assets/fonts/JetBrains/JetBrainsMono-Bold.ttf');
}