// Paleta de Cores
$color1: #000;

// Formats
.title--big {
  font-size: 30px;
}

.title {
  font-size: 25px;
}

.title--small {
  font-size: 18px;
}

.texto {
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .title--big {
    font-size: 20px;
  }

  .title {
    font-size: 16px;
  }
  
  .title--small {
    font-size: 12px;
  }
  
  .texto {
    font-size: 9px;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains", cursive;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

// Fonts
@font-face {
  font-family: JetBrains;
  src: url('../../assets/fonts/JetBrains/JetBrainsMono-Bold.ttf');
}